.LoveMeterContainer{
	margin: 4px auto;
	width:95%;
}

.LoveStatus{
	display: block;
	margin: 6px auto;
	width: 100%;
	text-align: center;
	font-size: 12.5pt;
	font-weight: bold;
}
.LoveStatus::before {
	content: "“";
}
.LoveStatus::after {
	content: "”";
}

.LoveContestants {
	margin: 6px auto;
	display: block;
	text-align: center;
	font-size: 1.50rem;
}

progress.LoveMeter[value] {
	position:relative;
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
   text-align: center;

  width: 100%;
  height: 64px;
}
progress.LoveMeter:before {
  content: attr(data-label);
  font-size: 1.25rem;
  vertical-align: 0;
  
  /*Position text over the progress bar */
  position:absolute;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  line-height: 64px;
  text-shadow:1px 1px rgba(0,0,0,.5);
}
progress.LoveMeter[value]::-webkit-progress-bar {
  background-color: #1b1d1f;
}

progress.LoveMeter[value]::-webkit-progress-value {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),-webkit-linear-gradient(left, #09c, #f44);
	background-size:100% 100%, 100% 100%;
}